* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  min-height: 100vh;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 100px;
  padding: 12px 120px;
  justify-content: space-between;
}

#trybewarts-header-title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2.5rem;
}

.trybewarts-login {
  display: flex;
  gap: 14px;
  align-items: center;
}

.trybewarts-login > * {
  height: 40px;
  border-radius: 12px;
  padding: 6px 16px;
  width: 160px;
}

.trybewarts-login > input {
  background-color: white;
  color: rgb(70, 70, 70);
}

.trybewarts-login > button {
  border: none;
  color: white;
  background-color: rgb(78, 44, 131);
}

.trybewarts-login > button:hover , .trybewarts-login > button:focus {
  filter: drop-shadow(0 0 8px rgba(78, 44, 131, 0.4));
}

main {
  flex-grow: 1;
  display: flex;
}

footer {
  background-color: red;
}

.divContainer {
  margin: 0 auto;
}

#evaluation-form {
  width: 675px;
  max-height: 117px;
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  flex-direction: column;
  text-align: center;
}
