html {
  box-sizing: border-box;
}

* , *:before , *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  background-color: rgb(239, 239, 239);
}

input , button {
  border: none;
}

button {
  cursor: pointer;
  color: white;
}

hr {
  opacity: 24%;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  padding: 8px 80px;
}

.header > * {
  align-items: center;
}

.trybewarts-header-logo {
  width: 48px;
}

#trybewarts-header-title {
  display: flex;
  color: white;
  font-size: 2rem;
}

.trybewarts-login {
  display: flex;
  gap: 8px;
}

.trybewarts-login > * {
  border-radius: 4px;
  height: 32px;
  width: 104px;
  padding: 8px;
}

.trybewarts-login > button {
  background-color: rgb(78, 44, 131);
}

/* MAIN */
main {
  flex-grow: 1;
  display: flex;
  padding: 36px 0;
  justify-content: space-evenly;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 675px;
}

fieldset {
  border: none;
}

#main-fields input {
  border-radius: 12px;
  padding: 12px 18px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset;
}

.name-fields {
  display: flex;
  gap: 12px;
}

.email-and-house-fields {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.name-fields > * , .email-and-house-fields > * {
  width: 50%;
}

.house-select {
  display: flex;
  align-items: center;
  gap: 12px;
}

.house-select > select {
  flex-grow: 1;
  padding: 4px 8px;
}

.family-and-skill-fields {
  display: flex;
  justify-content: space-between;
}

.family-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 45%;
  gap: 4px;
}

.family-choice > legend {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.skill-choice {
  display: flex;
  flex-flow: row wrap;
}

.skill-choice > legend {
  flex-basis: 100%;
}

.skill-choice > label {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.rating > label {
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: sans-serif;
  font-size: 12px;
}

.commentary-container {
  display: flex;
  flex-direction: column;
}

.rating-commentary {
  text-align: start;
  position: relative;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15) inset;
  padding: 10px;
  height: 100px;
}

.rating-commentary > textarea {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  resize: none;
}

.rating-commentary > textarea:active , .rating-commentary > textarea:focus {
  outline: none;
}

.rating-commentary > span {
  position: absolute;
  user-select: none;
  right: 8px;
  bottom: 8px;
}

.agreement-container {
  display: flex;
  flex-direction: column;
}

.agreement-container > div {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.agreement-container > button {
  background-color: rgb(78, 44, 131);
  padding: 8px 0;
  border-radius: 8px;
  color: white;
}

.agreement-container > button:disabled {
  background-color: rgb(56, 31, 97);
  color: grey;
}

#evaluation-form > * {
  margin-bottom: 16px;
  width: 85%;
}

#evaluation-form > *:last-child {
  margin-bottom: 0;
}

.skill-choice > label > div {
  display: flex;
  gap: 8px;
  width: 60%;
}

.trybewarts-login > button:hover , .trybewarts-login > button:focus {
  filter: drop-shadow(0 0 8px rgba(78, 44, 131, 0.4));
}

#form-answer {
  position: absolute;
  background-color: white;
  top: 50vh;
  right: 50vw;
  width: 600px;
  height: 360px;
  transform: translate(50%, -50%);
  border: 15px groove rgb(56, 31, 97);
  display: flex;
  flex-direction: column;
  padding: 24px 36px;
  gap: 8px;
  overflow: scroll;
  visibility: hidden;
  z-index: 5;
}

#form-answer.modal-active {
  visibility: visible;
}

#form-answer > button {
  margin-top: 24px;
  padding: 14px 0;
  background-color: rgb(50, 167, 145);
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s;
}

#form-answer > button:focus , #form-answer > button:hover {
  background-color: rgb(40, 134, 117);
}

footer {
  text-align: center;
  padding: 8px;
  background-color: rgb(60, 64, 74);
  color: white;
}
