* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(233, 233, 233);
  font-family: Acme, serif;
  text-align: center;
  font-size: 20px;
  overflow-x: hidden;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 98%;
}

#trybewarts-header-title {
  color: white;
  padding: 20px;
  font-size: 2em;
}

.trybewarts-login {
  display: flex;
  padding: 10px;
}

.trybewarts-login input {
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 45px;
  padding: 0 15px;
  margin-right: 15px;
  outline: none;
}

.trybewarts-login button {
  background-color: rgb(78, 44, 131);
  color: white;
  border: none;
  width: 100px;
  height: 45px;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  outline: none;
}

.trybewarts-header-logo {
  width: 60px;
}

main {
  display: flex;
  justify-content: center;
}

@media ( max-width : 1024px ) {

  main {
    display: block;
  }
}

h2 {
  font-size: 2em;
}

#evaluation-form {
  display: flex;
  width: 675px;
  height: 900px;
  margin: 0 20px;
  flex-flow: column wrap;
  align-items: center;

}

.title {
  width: 675px;
  margin: 25px;
  display: flex;
  justify-content: center;
}

.forms-inputs {
  display: flex;
  flex-wrap: wrap;
}

.forms-inputs input {
  border-radius: 5px;
  border: none;
  width: 250px;
  height: 45px;
  padding: 0 15px;
  margin-right: 5px;
  margin-bottom: 15px;
}

#house {
  border: none;
  background-color: white;
  width: 150px;
  height: 45px;
  border-radius: 5px;
}

.family {
  display: flex;
  justify-content: space-between;
  width: 675px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

.evaluation {
  width: 675px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.comment label {
  text-align: left;
  padding: 1rem 0;
}

#textarea {
  height: 5rem;
  border-radius: 4px;
  background: none;
  border: 1px solid rgb(80, 59, 131);
  resize: none;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 30%);
  padding: 1rem;
  color: rgb(80, 59, 131);
  outline: none;
}

#counter {
  margin-top: 1rem;
  bottom: 5px;
  position: absolute;
  right: 10px;
}

.infos {
  width: 675px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding: 1rem 0;
}

#label-infos {
  padding-right: 5px;
}

button:hover {
  opacity: 0.7;
  transform: scale(0.9);
  transition-duration: 0.2s;
}

.btn-submit {
  height: 40px;
  width: 675px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.btn-submit button {
  background-color: rgb(80, 59, 131);
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.aside img {
  height: 500px;
  margin-left: 50px;
}

hr {
  margin: 5px;
  width: 100%;
}

footer {
  position: relative;
  bottom: 0;
  background-color: rgb(60, 64, 74);
  color: white;
  width: 100%;
  font-size: 1.1rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
