* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 100px;
}

.trybewarts-header-logo {
  width: 80px;
  height: 80px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  flex-flow: column wrap;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.column {
  display: flex;
  flex-flow: column wrap;
}

.checkbox {
  width: 50%;
}
