* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  color: white;
  display: flex;
}

.trybewarts-header-logo {
  width: 5%;
  padding: 10px 0;
  display: flex;
  justify-content: ;
  align-self: ;
  }
