label {
  display: block;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

input [ type = 'text' ] {
  width: 100%;
}

/* requisito 1, 2 e 4 */
.header {
  display: flex;
  font-size: 1.5em;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 150px;
}

/* requisito 2 */
.trybewarts-header-logo {
  width: 5%;
}

/* requisito 3 */
.trybewarts-login {
  display: flex;
}

.trybewarts-login input {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  height: 50px;
  font-size: 0.8em;
}

#buttonLogin {
  width: 100px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(119, 119, 172);
  color: white;
  font-weight: 600;
  font-size: 0.8em;
}

/* requisito 5 */
#main-page {
  display: flex;
  flex-grow: row wrap;
  justify-content: center;
  padding: 200px;
}

/* requisito 5 e 6 */
#evaluation-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 675px;
}

/* requisito 7 */
#trybewarts-forms-logo {
  width: 35%;
}

#family-content {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
}

#family {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#checkbox-input {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  column-gap: 8px;
}

#checkbox-input > * {
  flex: 1;
}

#rate {
  display: flex;
  margin-top: 20px;
}

footer {
  background-color: rgb(61, 60, 68);
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  color: white;
  letter-spacing: 1.5px;
}

#coment {
  margin-top: 20px;
}

#top-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 675px;
  row-gap: 8px;
}

.align-items-forms {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

/*
.align-items-forms > * {
  flex: 1;
}
*/

.full-width-select-field {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.full-width-select-field select {
  flex: 1;
}

#submit-btn {
  background-color: rgb(119, 119, 172);
  width: 675px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
}

#textarea {
  resize: none;
  width: 675px;
  height: 100px;
}

.form-content {
  width: 675px;
  border: solid 1px rgb(44, 44, 44);
  margin-top: 30px;
  padding: 15px;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1.5;
}
