* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(233, 233, 233);
  text-align: center;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#trybewarts-header-title {
  color: white;
  padding: 20px;
}

.trybewarts-login {
  display: flex;
  padding: 10px;
}

.trybewarts-login input {
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 45px;
  padding: 0 15px;
  margin-right: 15px;
}

.trybewarts-login button {
  background-color: rgb(80, 59, 131);
  color: white;
  border: none;
  width: 150px;
  height: 45px;
  padding: 0 15px;
  border-radius: 5px;
}

.trybewarts-header-logo {
  width: 60px;
}

main {
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  width: 675px;
  margin: 0 20px;
  flex-flow: column wrap;
  align-items: center;
}

.section01 {
  display: flex;
  flex-wrap: wrap;
}

.section01 input {
  border-radius: 5px;
  border: none;
  width: 250px;
  height: 45px;
  padding: 0 15px;
  margin-right: 15px;
}

#house {
  border: none;
  background-color: white;
  width: 150px;
  height: 45px;
  border-radius: 5px;
}

.aside img {
  height: 500px;
}

.section2 {
  display: flex;
  justify-content: space-between;

}

.radioDiv {
  text-align: left;
  padding-right: 40px;
}

.checkboxDiv {
  text-align: left;
}
