* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  padding: 10px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 8%;
}

.trybewars-login input {
  width: 100px;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-login input {
  margin-right: 5px;
}

.trybewarts-header-title {
  color: white;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  padding: 10px 20px;
}

main {
  display: flex;
  justify-content: space-around;
}

#trybewarts-forms-logo {
  height: 500px;
  width: auto;
}

.radio-check-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.family-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.content-wrapper {
  line-height: 40px;
  display: flex;
  flex-flow: column wrap;
}

.content-first-row {
  display: flex;
  justify-content: flex-start;
}

.content-second-row {
  display: flex;
  justify-content: flex-start;
}

.subject {
  margin: 0 7px;
}

.csat {
  display: flex;
  justify-content: space-around;
}

.coment-area {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}
