.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  justify-content: left;
  width: 50px;
}

.trybewarts-login {
  justify-content: right;
  display: flex;
}

#trybewarts-header-title {
  text-align: center;
}

#login {
  color: blue;
}

#senha {
  color: green;
}

#logar {
  color: red;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.line {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(234, 237, 240);
}

main {
  display: flex;
  padding: 20px;
  border: red solid;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  flex-basis: 675px;
  border-radius: 5px;
  border: red solid;
}

#forms-h2 {
  display: flex;
  justify-content: center;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
  width: 100%;
  max-width: 500px;
}

#input-name {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 0 5px gray;
}

#input-lastname {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 0 5px gray;
}

#input-email {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 0 5px gray;
}

select {
  padding: 10px;
  width: 195px;
  background-color: white;
  color: gray;
  border: none;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 0 5px gray;
}

#label-casa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: gray;
  margin-left: 8px;
}

.form-style {
  display: flex;
}

.form-select {
  display: flex;
}

#textarea {
  display: flex;
  width: 675px;
}
