* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  width: 100%;
}

.trybewarts-login , main , #evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#inputNameLastName {
  display: flex;
}
