* {
  margin: 0;
  padding: auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  width: 40px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  position: relative;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  width: 675px;
  height: 90vh;
}

#trybewarts-forms-logo {
  height: 500px;
  position: absolute;
  right: 7rem;
  top: 3rem;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#label-family div {
  display: flex;
  flex-direction: column-reverse;
}
