body {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.login-container {
  display: flex;

}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

.form-line {
  display: flex;
}

.family-radio {
  flex-direction: column;
}

footer {
  background-color: rgb(66, 66, 66);
  margin-bottom: 0;
  color: white;
  text-align: center;
}

#trybewarts-header-title {
  color: white;
}
