* {
  padding: 0;
  margin: 0;
  font-family: Eczar, serif;
  color: white;
}

body {
  background-color: rgb(239, 239, 239);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  background-color: rgb(50, 167, 145);
  padding: 10px;
  color: white;
  height: 80px;
}

.sub-container {
  display: flex;
}

.header img {
  align-items: flex-start;
  width: 73px;
}

.trybewarts-login {
  display: flex;
}

.header form {
  align-self: flex-end;
  margin-right: 100px;
}

.header__form--input , #header__form--botao {
  width: 150px;
  height: 40px;
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-family: Eczar, serif;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 600;
}

#house , #gitnoria-house , #reactpuff-house , #corvinode-house {
  color: black;
}

#pytherina-house , #h1__house , #input-name , #input-lastname {
  color: black;
}

#input-email , h3 , .section__mainform--thirdrow , .label-content , .label-content2 {
  color: black;
}

#header__form--botao {
  background-color: rgb(78, 44, 131);
  color: white;
  height: 53px;
}

#trybewarts-header-title {
  font-size: 2.5em;
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
}

.main__form , #evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

.aside-image {
  height: 500px;
}

.main__form {
  width: 700px;
  flex-direction: column;
  margin-left: 120px;
  justify-content: flex-start;
}

.section__mainform--row {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
  border-bottom: 1px solid rgb(204, 203, 203);
  margin-top: 200px;
}

.teste {
  display: flex;
  margin-top: 20px;
}

#input-name , #input-lastname , #input-email {
  width: 300px;
  height: 48px;
  padding: 5px;
  border-radius: 7px;
  font-family: Eczar, serif;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 600;
}

#house {
  width: 260px;
  font-size: x-large;
  border-radius: 7px;
  background-color: white;
}

.section__mainform--thirdrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  color: black;
}

#label-family {
  font-size: 20px;
  display: flex;
  color: black;
}

.strong {
  font-weight: 900;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 1.2rem;
}

#label-content {
  display: flex;
  width: 300px;
  font-weight: 580;
  font-size: 20px;
  color: black;
}

.color-label {
  color: black;
}

.hr.solid {
  border-top: 1px solid black;
  width: 95%;
}

.hr__padding {
  margin-top: 20px;
}

.label-style {
  color: black;
  padding: 5px;
}

#label-rate {
  font-size: larger;
  font-weight: 900;
}

.section__mainform--fourthrow {
  text-align: center;
  margin: 20px 0;
}

.comment {
  display: flex;
  flex-direction: column;
}

.textarea {
  color: black;
  font-weight: 600;
  font-size: larger;
}

#label-infos {
  color: black;
  font-size: larger;
}

.check-box {
  margin: 10px 0;
}

#submit-btn {
  width: 650px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  font-family: Eczar, serif;
  margin-right: 10px;
  font-size: 1em;
  font-weight: 600;
  background-color: rgb(78, 44, 131);
  color: white;
}

.hero-img {
  /* position: absolute;
  left: 1000px;
  bottom: 200px; */
}
