* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  padding: 10px 20px;
}

.trybewarts-header-logo {
  width: 50px;
}

#trybewarts-header-title {
  font-family: Lumos, sans-serif;
  padding-top: 10px;
  color: black;
}

.trybewarts-login {
  display: flex;
  margin: 10px 30px;
  align-items: center;
}

#trybewarts-forms-logo {
  margin-top: 80px;
}

#login {
  border-radius: 10px;
  margin: 5px;
  height: 25px;
  border: solid white;
  font-family: Lumos, sans-serif;
  font-size: 15px;
}

#senha {
  border-radius: 10px;
  margin: 5px;
  height: 25px;
  border: solid white;
  font-family: Lumos, sans-serif;
  font-size: 15px;
}

#login-button {
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 10px;
  margin: 5px;
  border: solid darkslateblue;
  width: 70px;
  background-color: darkslateblue;
  color: white;
  font-family: Lumos, sans-serif;
  font-size: 20px;
}

#nome-e-sobrenome {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

h1 {
  display: flex;
  align-items: center;
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  margin-top: 50px;
}

#e-mail-e-casa {
  display: flex;
  margin-top: 30px;
}

#input-radio {
  display: flex;
  width: 80px;
  height: 90px;
  flex-flow: row wrap;
  flex-grow: 1;
  margin-top: 15px;
}

#label-family {
  width: 80px;
}

span {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
}

#textarea {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  flex-grow: 1;
  border: solid 1px darkslateblue;
}

#checkboxs {
  display: flex;
  width: 400px;
  height: 150px;
  flex-flow: row wrap;
  justify-content: space-around;
}

.subject {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

#techs {
  display: flex;
  width: 250px;
  height: 90px;
  flex-flow: row wrap;
  flex-grow: 1;
}

#input-name {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  border-radius: 5px;
  width: 250px;
}

#input-lastname {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  border-radius: 5px;
  width: 250px;
}

#input-email {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  border-radius: 5px;
  width: 250px;
}

#house {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  border-radius: 5px;
  font-family: Lumos, sans-serif;
  font-size: 15px;
}

#label-house {
  align-items: center;
}

#footer {
  display: flex;
  justify-content: center;
  background-color: rgb(53, 52, 52);
  color: white;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15pt;
}

#counter {
  margin-left: 400px;
}

#input-form {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

#agreement {
  flex-direction: row;
  margin-left: 10px;
  margin-top: 22px;
}

#label-infos {
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 55px;
}

#submit-btn {
  flex-basis: 72%;
  font-size: 15px;
  border-radius: 15px;
  text-align: center;
  height: 40px;
  background-color: darkslateblue;
  color: white;
}

#evaluation-form {
  margin-top: 100px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 675px;
  justify-content: center;
}

#comentario {
  margin-top: 50px;
}
