* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  top: 0;
  background-color: rgb(50, 167, 145);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

header h1 {
  color: white;
}

.trybewarts-header-logo {
  height: 80%;
}

/* requisito 3 */
.trybewarts-login {
  display: flex;
  justify-content: center;
}

header input {
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 8px;
  height: 30px;
  width: 140px;
  margin: 0 5px;
}

header button {
  color: white;
  background-color: rgb(78, 44, 131);
  height: 30px;
  width: 140px;
  border: 0;
  border-radius: 5px;
  margin: 0 5px;
}

body {
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Requisito 5 */
main {
  background-color: rgb(239, 239, 239);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc( 100vh - 110px );
  width: 100%;
  max-width: 1366px;
}

#evaluation-form h2 {
  margin: 30px 0;
}

/* Requisito 5 e 6 */
#evaluation-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-start;
  width: 675px;
  height: calc( 100vh - 110px );
}

.div-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

/* Requisito 10 e 11 */
.div-1 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 0;
  width: 100%;
}

.div-1 input {
  width: 49.4%;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 8px;
}

.div-1 input:nth-of-type( 1 ) {
  margin: 0 0.6% 1% 0;
}

.div-1 input:nth-of-type( 2 ) {
  margin: 0 0 1% 0.6%;
}

.div-1 input:nth-of-type( 3 ) {
  margin: 1% 0.6% 0 0;
}

.div-1 label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 49.4%;
  margin: 1% 0 0 0.6%;
}

.div-1 label select {
  flex-grow: 1;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 8px;
  margin-left: 6px;
}

.div-2 {
  width: 100%;
  display: flex;
  flex: 0 1 0;
  line-height: 30px;
}

.div-column {
  display: flex;
  flex-direction: column;
  width: 38%;
}

.div-row {
  display: flex;
  flex-direction: column;
  width: 62%;
}

.content-checkbox {
  display: flex;
  flex-wrap: wrap;
}

.content-checkbox label {
  width: calc(100% / 3);
}

.div-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 1 0;
  line-height: 30px;
}

#textarea {
  resize: none;
}

#submit-btn {
  color: white;
  background-color: rgb(78, 44, 131);
  border: 0;
  border-radius: 5px;
  height: 30px;
}

hr {
  width: 100%;
  height: 2px;
  margin: 18px 0;
  background-color: rgb(182, 182, 182);
}

/* Requisito 7 */
#trybewarts-forms-logo {
  height: 500px;
  align-self: start;
}

/* Requisito 19 */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 64, 74);
  color: white;
  height: 40px;
  width: 100%;
  bottom: 0;
}
