* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 30px 200px;
}

.trybewarts-header-logo {
  display: flex;
  height: 70px;
}

.trybewarts-login {
  display: flex;
  height: 40px;
  justify-content: space-between;
  width: 480px;
  border-radius: 4px;
}

#input-login , #input-password {
  width: 150px;
  border-radius: 8px;
  border-style: none;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 50px 100px;
  background-color: rgb(249, 249, 250);
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.input-box {
  height: 40px;
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-style: none;
  border-radius: 8px;
}

.form-container input {
  flex-grow: 1;
}

.form-container select {
  flex-grow: 2;
}

#label-family , #label-content , .div-family {
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.div-family , #container-form , .padding-container {
  padding: 10px 0;
}

.div-family label {
  padding: 3px 0;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 0;
}

#div-checkbox {
  display: flex;
  flex-direction: column;
}

#checkbox-container {
  display: flex;
  flex-flow: row wrap;
}

#checkbox-container label {
  flex-basis: 33%;
  padding: 3px 0;
}

main img {
  height: 500px;
}

#button-login {
  border-style: none;
  border-radius: 8px;
  height: 40px;
  width: 50px;
  background-color: rgb(80, 25, 112);
  color: white;
}

#submit-btn {
  background-color: rgb(80, 25, 112);
  color: white;
  border-radius: 5px;
  border-style: none;
}
