.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 80px;
}

main {
  display: flex;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  margin-top: 20px;
  flex-direction: column;
  flex-wrap: wrap;
}

.divForm {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name {
  width: 200px;
  height: 30px;
  margin-right: 3px;
}

#input-email {
  width: 200px;
  height: 30px;
  margin-right: 3px;
  margin-top: 10px;
}

#house {
  width: 200px;
  height: 37px;
  margin-top: 10px;
}

.content-two {
  display: flex;
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: aqua;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  font-size: 1.5em;
  background-color: rgb(60, 255, 0);
}

#label-content {
  background-color: brown;
  height: 50%;
} 
