* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.container {
  display: none;
}

.trybewarts-login {
  display: flex;
}

#div-select {
  display: inline-block;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#evaluation-form h1 {
  display: flex;
  justify-content: center;
  padding: 15px;
}

main section img {
  height: 500px;
}

#div-label-family {
  display: flex;
  flex-direction: column;
}

#div-label-content {
  display: flex;
  flex-direction: column;
}

#label-content-input {
  display: flex;
  flex-wrap: wrap;
}

#label-content-input label {
  flex-grow: 1;
  flex-basis: 30%;
  padding: 5px;
}

@media screen and ( max-width : 600px ) {

  body {
    background-color: whitesmoke;
  }

  .container {
    display: flex;
    height: min-content;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    margin-right: 15px;
  }

  #checkbox-menu {
    position: absolute;
    opacity: 0;
  }

  .container label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 25px;
    width: 30px;
  }

  span {
    display: flex;
  }

  .container label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 40px;
    background: white;
    transition: 0.25s ease-in-out;
  }

  .container label span:nth-child( 1 ) {
    top: 0;
  }

  .container label span:nth-child( 2 ) {
    top: 10px;
  }

  .container label span:nth-child( 3 ) {
    top: 20px;
  }

  #div-textarea span {
    margin-left: 5px;
  }

  #checkbox-menu:checked + label span:nth-child( 1 ) {
    transform: rotate(-45deg);
    top: 8px;
  }

  #checkbox-menu:checked + label span:nth-child( 2 ) {
    opacity: 0;
  }

  #checkbox-menu:checked + label span:nth-child( 3 ) {
    transform: rotate(45deg);
    top: 8px;
  }

  #nav-menu-login {
    position: fixed;
    margin-left: 100%;
    height: 100%;
    width: 75%;
    background-image: linear-gradient(140deg, rgb(50, 167, 145), lightseagreen, purple);
  }

  #nav-menu-login div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav-menu-login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .header-section {
    display: flex;
    background-color: rgb(50, 167, 145);
  }

  #div-checkbox-menu {
    display: flex;
    height: 50px;
    width: 100%;
    order: 2;
    flex-basis: 0;
    flex-grow: 0;
  }

  input {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid rgb(50, 167, 145);
  }

  #div-name-email-family input {
    flex-basis: 49%;
    flex-wrap: nowrap;
  }

  #nav-menu-login form input {
    width: 80%;
    margin: 5px 0;
  }

  #nav-menu-login form button {
    width: 100px;
    margin: 5px 0;
    background-color: purple;
    border: 2px solid purple;
    border-radius: 8px;
    color: white;
  }

  .trybewarts-header-logo {
    width: 35px;
    margin: 5px 15px;
  }

  #nav-menu-login .trybewarts-header-logo-nav {
    width: 40%;
  }

  .header {
    justify-content: center;
    color: white;
    padding: 0 20px;
    height: 50px;
    flex-basis: 0;
    flex-grow: 2;
  }

  .header .logo {
    display: flex;
    width: min-content;
    flex-basis: 0;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
  }

  .trybewarts-login {
    display: none;
  }

  #trybewarts-logo {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    width: 100%;
    border-top: 2px solid grey;
  }

  #trybewarts-forms-logo {
    width: 100%;
  }

  #evaluation-form {
    width: 100%;
  }

  main {
    flex-direction: column;
    align-content: center;
    padding: 0 20px;
    width: 100%;
    align-items: center;
  }

  #evaluation-form-section {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
  }

  #div-name-email-family {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid grey;
  }

  #div-select {
    display: flex;
    width: max-content;
  }

  #label-house {
    display: flex;
    margin-right: 5px;
    align-items: center;
  }

  #label-family-and-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid grey;
    line-height: 25px;
  }

  #div-trybewarts-rate {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-bottom: 10px;
  }

  #label-rate {
    margin-right: 5px;
  }

  #div-textarea p {
    display: flex;
    margin-bottom: 10px;
  }

  #textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid rgb(50, 167, 145);
    border-radius: 5px;
  }

  #submit-btn {
    margin: 10px auto;
    padding: 5px;
    background-color: purple;
    border: 2px solid purple;
    border-radius: 5px;
    color: white;
    width: 20%;
  }

  select {
    display: flex;
    align-self: center;
    height: 27px;
    background-color: white;
    padding: 1px;
    border: 1px solid rgb(50, 167, 145);
    border-radius: 5px;
  }

  footer {
    display: flex;
    justify-content: center;
    background-color: rgb(94, 93, 93);
    color: white;
    padding: 6px;
  }
}

@media screen and ( min-width : 601px ) {

  body {
    background-color: rgb(239, 239, 239);
  }

  #nav-menu-login {
    display: none;
  }

  .header-section {
    display: flex;
  }

  .trybewarts-header-logo {
    width: 55px;
  }

  .header .trybewarts-login {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
  }

  input {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid rgb(50, 167, 145);
  }

  .header input {
    border-radius: 8px;
    height: 21px;
  }

  .header #login-button {
    width: 100px;
    margin: 5px 10px;
    background-color: rgb(77, 40, 132);
    border: 2px solid rgb(77, 40, 132);
    border-radius: 8px;
    color: white;
  }

  .header {
    display: flex;
    color: white;
    padding: 0 20px;
    height: 70px;
    flex-basis: 0;
    flex-grow: 2;
    justify-content: space-between;
  }

  .header h1 {
    font-size: 2.5em;
  }

  main {
    justify-content: center;
    padding: 0 100px;
    height: 90vh;
  }

  #evaluation-form-section {
    display: flex;
    flex-direction: column;
  }

  #div-name-email-family {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(175, 176, 176);
    padding: 15px;
  }

  #input-name , #input-lastname , #input-email , #div-select {
    display: flex;
    flex-grow: 1;
    flex-basis: 49%;
  }

  #label-house {
    margin-right: 5px;
    display: flex;
    align-self: center;
  }

  #house {
    display: flex;
    width: 90%;
    height: 27px;
    align-self: center;
    border: 1px solid rgb(50, 167, 145);
    border-radius: 5px;
    background-color: white;
  }

  #label-family-and-content {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(175, 176, 176);
    padding: 15px;
  }

  #div-label-family {
    margin-right: 15px;
  }

  #div-label-family label {
    width: max-content;
    padding: 5px;
  }

  #label-content {
    padding: 5px;
  }

  #div-trybewarts-rate {
    padding: 15px 5px 5px;
  }

  #div-textarea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .textarea , #textarea , p , #div-label-infos {
    padding: 15px;
  }

  #textarea {
    display: flex;
    width: 675px;
    height: 94px;
    resize: none;
  }

  #submit-btn {
    background-color: rgb(77, 40, 132);
    border: 2px solid rgb(77, 40, 132);
    border-radius: 8px;
    padding: 5px;
    color: white;
    width: 30%;
    align-self: center;
  }

  #trybewarts-logo {
    display: flex;
    order: 2;
  }

  footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(57, 62, 73);
  }
}
