.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}
.header .trybewarts-header-title {
  align-items: center;
}

main {
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}
