*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    background-color:  rgb(50, 167, 145);
    justify-content: space-between;
}

.trybewarts-header-logo{
    width: 60px;
    height: 60px; 
}

.trybewarts-login{
    display: flex;
} 

main{
    display: flex;
}

#evaluation-form{
    width: 675px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#trybewarts-forms-logo {
    height: 500px;
}

#house {
     max-width: 300px;
}

#buttons{
    display: flex;
    flex-direction: column;
} 