.column {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.line {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

#evaluation-form {
  display: flex;
  flex-basis: 675px;
  border: black solid;
}

main {
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 100%;
  max-width: 500px;
}
