* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 75px;
  align-items: center;
}

.trybewarts-header-logo {
  float: left;
  width: 50px;
  height: 90%;
}

.trybewarts-login {
  align-items: center;
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
  margin: 0 800px;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#evaluation-form {
  padding-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  width: 675px;
  flex-basis: 675px;
}

.row {
  padding-top: 10px;
}

.fullname {
  display: flex;
  flex-direction: row;
}