* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: New Rocker, cursive;
}

body {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
}

main {
  display: flex;
  justify-content: center;
  height: 85vh;
  width: 100vw;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 167, 145);
  color: white;
  font-size: 0.9em;
  height: 5vh;
}

#trybewarts-forms-logo {
  height: 500px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.trybewarts-header-logo {
  max-height: 100%;
  padding: 5px 0;
}

#trybewarts-header-title {
  font-size: 2.5em;
  color: aliceblue;
  align-self: flex-start;
}

.trybewarts-login {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.login-input {
  padding: 3px;
  margin: 0 3px;
  border-radius: 4px;
  background-color: rgb(223, 245, 240);
}

#submit-button {
  padding: 5px;
  border-radius: 4px;
  min-width: 80px;
  background-color: rgb(119, 8, 163);
  color: aliceblue;
  box-shadow: none;
  border: 2px solid black;
}

#submit-button:hover {
  background-color: green;
}

#evaluation-form {
  display: flex;
  flex-basis: 675px;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#personal-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

.input-field {
  width: 48%;
  height: 40px;
  margin: 1%;
  border-radius: 4px;
  padding: 0 5px;
  background-color: aliceblue;
}

.select-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
  padding-right: 0;
  background-color: transparent;
}

.select-field select {
  width: 80%;
  height: 100%;
  font-size: 1em;
  border-radius: 4px;
  background-color: aliceblue;
}

#preferences {
  display: flex;
  height: 30%;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 1.1em;
  padding: 25px 0;
}

#family-form {
  width: 40%;
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

#content-form {
  width: 60%;
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.checkboxes {
  height: 80%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}

.checkboxes div {
  height: 50%;
  width: 30%;
  display: flex;
  align-items: center;
}

.checkboxes div label {
  padding: 0 8px;
}

#feedback {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}

#rate-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

#comments {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#comments textarea {
  height: 130px;
  background-color: aliceblue;
}


