* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header > h1 {
  color: white;
}


.trybewarts-header-logo {
  width: 80px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#stackFamilyDiv {
  display: flex;
  flex-direction: column;
}

#middleSectionForm {
  display: flex;
  justify-content: space-between;
}

#contentLearningDiv {
  display: flex;
  flex-flow: column wrap;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

footer {
  text-align: center;
  background-color: rgb(53, 52, 52);
  color: white;
  padding: 8px;
}

#check-info {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.avaliationDiv label > input[ type = 'radio' ] {
  margin: 7px;
}

#label-infos {
  padding-right: 10px;
}

.textarea {
  padding: 10px 0;
}

#submit-btn {
  background-color: rgb(60, 5, 109);
  color: white;
  padding: 9px;
  font-weight: 700;
  border-radius: 4px;
}
