.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.textarea {
  flex-basis: 90%;
}

#checkbox-agreement {
  display: flex;
  margin-top: 10px;
}

#textarea-header {
  display: flex;
  align-items: center;
}

#counter {
  align-self: center;
}
