* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  align-self: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-flow: column;
  width: 675px;
}

#evaluation-input {
  display: flex;
  flex-flow: wrap;
}

#evaluation-input input {
  width: 40%;
  margin: 3px;
}

#evaluation-input select {
  width: 37%;
}

#trybewarts-forms-logo {
  height: 500px;
  background-color: red;
}

.house {
  height: 20px;
}

#label-family {
  font-size: 20px;
}

#familySection {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;

}

#familyForm {
  display: flex;
  justify-content: flex-start;
}

#label-content {
  display: flex;
}

#learningContent {
  display: flex;
  flex-direction: column;
}
