* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', 'Times', 'serif';
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

.input {
  border-radius: 10px;
  margin-right: 5px;
  border: none;
  padding: 10px 20px;
  width: 100px;
}

.header button {
  background-color: #4e2c83;
  color: white;
}

img {
  max-width: 60px;
}

main {
  display: flex;
}

.family {
  display: flex;
  flex-direction: column;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.feedback {
  margin-left: 20px;
}

.rate {
  display: flex;
}