* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(239, 239, 239);
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

.input {
  border-radius: 10px;
  margin-right: 10px;
  border: none;
  padding: 10px 20px;
  width: 100px;
}

.purple-btn {
  background-color: rgb(78, 44, 131);
  color: white;
}

.trybewarts-header-logo {
  max-width: 60px;
}

main {
  display: flex;
}

.family {
  display: flex;
  flex-direction: column;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.showResult {
  margin: 10px 30px;
  font-size: 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  flex-grow: 1;
}

.contentResults {
  margin: 50px 100px 50px 0;
}

#forms-title {
  text-align: center;
  margin: 10px 0;
}

.name-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#input-name {
  flex-grow: 1;
}

#input-lastname {
  flex-grow: 1;
}

.email-casa-input {
  display: flex;
  margin-bottom: 10px;
}

.house {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#house {
  border-radius: 10px;
  margin: 0 10px;
  border: none;
  padding: 10px 5px;
  flex-grow: 1;
  background-color: white;
}

#input-email {
  flex-grow: 1;
  margin-right: 20px;
}

.languages-family-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.family-wrapper {
  width: fit-content;
  margin-right: 100px;
}

.family label {
  margin-top: 10px;
}

.feedback {
  display: flex;
  align-items: center;
}

.rate {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rate .feedback label {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 5px 10px;
}

.rate label input {
  order: -1;
  margin-right: 3px;
}

.languages {
  flex-grow: 1;
}

#languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#languages label {
  flex-basis: 30%;
  margin: 10px 0;
}

.textarea {
  display: flex;
  flex-direction: column;
}

#textarea {
  margin: 10px 0 2px;
  resize: none;
  padding: 5px;
  height: 110px;
}

#counter {
  margin-bottom: 10px;
}

#label-infos {
  margin-bottom: 10px;
}

#submit-btn {
  border-radius: 5px;
  padding: 5px 0;
}

#submit-btn:hover {
  cursor: pointer;
}

#submit-btn:disabled {
  background-color: rgb(117, 117, 117);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 0;
}

#submit-btn:disabled:hover {
  cursor: initial;
}

footer {
  width: 100%;
  background-color: rgb(60, 64, 75);
  color: rgb(239, 239, 239);
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

hr {
  width: 100%;
  margin: 15px auto;
}
